.account{
	flex-grow: 1;
	padding-left: 15px;
	padding-right: 15px;
	.content{
		max-width: 700px;
		margin: 20px auto;
		padding: 40px;
	}
	.user-info {
    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 30px auto;
    }
    ul {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      li {
        flex-grow: 1;
        span {
          display: block;
          font-size: 14px;
        }
        b {
          display: block;
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }
}