.blog-wrap{
	margin-top:20px ;
	overflow:hidden ;
	.blog-card{
	padding:0 10px;
	max-width:600px;
	margin:0 auto 15px;
	.blog-index{
		background-color: #00bcd4;
		font-size: 1.5em;
		text-align: center;
		color: #fff;
		line-height: 2.0;
		span {
			border-radius: 50%;
			border:2px solid #fff;
			width: 7vh;
			height: 7vh;
			display: inline-block;
		}
	}
	.blog-content{
		box-shadow: rgba(0,0,0,0.3) 1px 2px 6px;
		padding:10px;
		color: #666;
		background-color: #FFF;
	}
}
}
